%h1 Crossmap

%div{ id: :main }

:javascript
  var node = document.getElementById("main");
  var app = Elm.Main.embed(node, {
    resolverUrl: "#{Gnc.conf.resolver_url}",
    output: "#{@crossmap.output_url}",
    token : "#{@crossmap.token}",
    server: "#{Gnc.conf.server}",
    dataSourceIds: #{Gnc.conf.data_sources.to_json},
    headers : #{@crossmap.input_sample["headers"].to_json},
    rows : #{@crossmap.input_sample["rows"].to_json}
  });
